<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GenerateDoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SISFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>SISpeciesNotes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SISpeciesNotesTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>aggregateFrameWork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>generateByJazzy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>840ED9231C4CEE6300420D8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>840ED9281C4CF5EF00420D8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84192D6B1CBFE6A8001866DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>843D92061CC7E0D900DEB22D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>843D920F1CC7E0D900DEB22D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8453642B1CC1EAEE006CCC58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>845364341CC1EAEE006CCC58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>845364491CC20851006CCC58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D849C0971AF078E4001C01AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D849C0AC1AF078E4001C01AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
